In [1]:
import pandas as pd

In [3]:
cities_time = pd.read_csv("data/cities_time_mean.csv")
cities_time.head()

      city  year    month                      time_mean
0  барнаул  2024   Январь  2023-05-20 07:49:02.064515840
1  барнаул  2024  Февраль  2023-05-20 09:41:53.827586304
2  барнаул  2024     Март  2023-05-20 11:58:22.806451968
3  барнаул  2024   Апрель  2023-05-20 14:18:32.299999744
4  барнаул  2024      Май  2023-05-20 16:24:08.032258048

In [4]:
cities_time.dtypes

city         object
year          int64
month        object
time_mean    object
dtype: object

In [6]:
cities_time["time_mean"] = pd.to_datetime(cities_time["time_mean"])

In [9]:
cities_time["time_mean"] = cities_time["time_mean"].dt.time

In [10]:
cities_time.columns

Index(['city', 'year', 'month', 'time_mean'], dtype='object')

In [12]:
colnames = ["Наименование города", "Год", "Месяц", "Средняя продолжительность светового дня"]

In [13]:
cities_time.columns = colnames

In [14]:
cities_time.head()

  Наименование города   Год    Месяц Средняя продолжительность светового дня
0             барнаул  2024   Январь                         07:49:02.064515
1             барнаул  2024  Февраль                         09:41:53.827586
2             барнаул  2024     Март                         11:58:22.806451
3             барнаул  2024   Апрель                         14:18:32.299999
4             барнаул  2024      Май                         16:24:08.032258

In [16]:
cities_time["Наименование города"] = cities_time["Наименование города"].apply(lambda x: x.title())

In [18]:
cities_time["Год"].unique()

array([2024], dtype=int64)

In [21]:
cities_time = cities_time[["Наименование города", "Месяц", "Средняя продолжительность светового дня"]]

In [22]:
cities_time.to_csv("data/cities_time.csv", index=False)